h1 {
    text-align: center;
}

figure {
  border: 2px #cccccc solid;
  padding: 4px;
  margin: auto;
  margin-bottom: 20px;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 2px;
}
