---
layout: default
---

<article>

  <h1> {{ page.title }} </h1>
  <table style="border: 2px solid;">
    <thead></head>
    <tbody>
    <tr>
     <td>maintainer:
     <a href="https://github.com/{{page.maintainer}}"> {{page.maintainer}}</a> </td>
     <td>status: {{page.status}}</td>
     <td>categories: {{page.tags | join: ", " }} </td>
     <td>issue: <a href="https://github.com/bitcoin-research/bitcoin-research.github.io/issues/{{page.issue}}">#{{page.issue}} </td>
    </tr>
    </tbody>
  </table>

  {{content}}

</article>
